@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height:1.5;
	font-family: 'Poppins',sans-serif;
	background-color:#e8fdeb;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.banner{
	width:100%;
}

h2{
	font-size:42px;
	margin-left:310px;
	padding:70px 0;
	text-decoration:underline;
}

.payment-title{
	font-size:42px;
}
/*header Section*/

.header{
	position:absolute;
	width:100%;
	background-color: #24262b;
	padding:30px 30px;
	color:white;
	height:16vh;
}

.header h1{
	font-size:48px;
	padding:10px;
}

.nav{
	
	position: absolute;
	left: 45%;
}
.nav a{
	position: relative;
	left:45%;
	top:-75px;
	text-decoration:none;
	margin-right:20px;
}

.header img{
	float:left;
	width:100px;
	border-radius:50%;
}


.nav-button{
	border:none;
	color:white;
	padding:10px 10px;
	background-color:#24262b;
	font-size:18px;
	border-radius:20px;
	transition:0.4s ease;
}
button:hover{
	background-color:white;
	color:black;
}

/*footer Section*/
.container{
	max-width:1170px;
	margin:auto;
}

.row{
	display:flex;
	flex-wrap:wrap;
}

.footer ul{
	list-style:none;
}

.footer{
	position:absolute;
	width:100%;
	background-color: #24262b;
	padding:70px;
	color:white;
}

.footer-col{
	width:100%;
}

.footer-col h4{
	font-size:18px;
	color:#ffffff;
	text-transform:capitalize;
	margin-bottom:35px;
	font-weight: 500;
	position:relative;
}

.footer-col .social-links a{
	display: inline-blocks;
	margin: 0 10px 10px 0;
	line-height:40px;
	border-radius: 50%;
	color:#ffffff;
	transition:all 0.5s ease;
}
.footer-col .social-links a:hover{
	color:#a6a6a6;
}
