h3{
	font-size:32px;
}

.pack-heading{
	font-size:24px;
}

.button-form{
	color:#24262b;
	padding:10px 10px;
	background-color:white;
	font-size:18px;
	border-radius:20px;
	transition:0.4s ease;
}

.container-img{
	position:relative;
	width:100%;
}

.package-img{
	border-radius:8%;
	
	display:block;
}

.overlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	opacity:0;
	transition: .5s ease;
	background-color: #ffffff;
}

.container-img:hover .overlay{
	opacity:1;
}
.text{
	color:black;
	font-size:20px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
